<section id="escritorio" class="padded">
    <div class="container">
        <h2 class="text-center">Escritorio</h2>
        <h3>✔ IdCliente: {{clienteEncontrado && clienteEncontrado.idcliente }}</h3>
        <h3>✔ Usuario: {{clienteEncontrado && clienteEncontrado.usuario }}</h3>
        <h3>✔ Dirección: {{clienteEncontrado && clienteEncontrado.direccion }}</h3>
        <h3>✔ Pais: {{clienteEncontrado && clienteEncontrado.pais }}</h3>
        <h3>✔ Teléfono: {{clienteEncontrado && clienteEncontrado.telefono }}</h3>
        </div>
</section>
        
