h1{
    font-size: 65px;
    line-height: 76px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #fff;
}
.reform{
    padding-bottom: 200px;
    text-align: left;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #01acb5;
    border-color: #008990;
}

.table-hover>tbody>tr:hover{
    --bs-table-accent-bg: rgb(0, 137, 144);
    color: #ffffff;
    cursor: pointer;
}